{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'account/style.css' %}">

<div class="container"> 
  <div class="white-box"> 
    <h1>{% trans "Sign Out" %}</h1>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form class="signout" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit">{% trans 'Sign Out' %}</button>
    </form>
    <a href="/" style = "display: block;
    width: 100%;
    padding: 10px 0px;
    background-color: #4c4caf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top:10px;
    text-align: center;
    text-decoration: none;">Go Back Home</a>

  </div>

</div>

{% endblock %}
